config:
    account: ""

    dynamodb_users: "users"
    dynamodb_locations: "locations"
    dynamodb_user_locations: "user_locations"
    dynamodb_picking_routes: "picking_routes"

    hours_offset: 12
    days_offset: 7
    timezone: "America/Bogota"
